.patient-item {
    display: flex;
    flex-direction: row;
    flex: 1;
    margin: 10px;
    width: 100%; 
}

.patient-item-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 1rem;
}

.patient-info {
    color: white;
    font-size: 1.5rem;
}

.buttons-container {
    display: flex;
    gap: 8px;
    margin-top: 0.5rem;
}

.button {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1rem;
    color: white;
    border: none;
    border-radius: 4px;
    padding: 0.5rem 1rem;
    cursor: pointer;
}

.button-medical-card {
    background-color: #008000; 
}

