.a{ 
    display: flex;
    flex-direction: column;
    justify-content:space-between;
    padding-top: 20px ;
    padding-left: 30px;
    padding-bottom: 20px;
    color: black; 
    position: fixed;
    left: 0;
    top: 0;
    height:calc(100vh - 109px);
    width: 220px;
    background-image: url("../../public/background.png");
    opacity: 0.8;
    background-repeat: no-repeat;
    background-size: cover;
}
.book-text{
    font-size: 50px;
    font-weight: bold;
}
.navbar-text{
    font-size: 30px;
}
.n{
    color: rgb(226, 226, 226);
    font-size: 30px;
}